.search-box-results {
    width: 100%;
    margin-top: 10px;
}

.seach-results {
    background-color: #E8E7E7;
    margin: 10px 20px;
    padding: 5px;
    text-align: center;
}

.not-results{
    text-align: center;
    padding: 20px;
    margin: 10px 20px;
    background-color: #E8E7E7;
}